@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title us.</h2>
    <p>
        Welcome to our contact page. We are here to help you with any questions or concerns you may have. Please feel free to reach out to us at any time.
    </p>

    <address>
        Tech Mix<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support_tech@techmix.com">support_tech@techmix.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing_tech@techmix.com">marketing_tech@techmix.com</a>
    </address>
</main>