
@{
    ViewBag.Title = "Products";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script type="text/javascript">

    /// <summary>
    /// Load data from the database when the page is ready
    /// </summary>
    $(document).ready(function () {
        // Load data from the database when the page is ready
        loadData();

        // Event handler for delete confirmation button click
        $('#btnConfirmDelete').click(function () {
            let productId = $(this).data('productId');

            // Ajax call to delete the product by its ID from the database
            $.ajax({
                url: "/Product/DeleteProduct/" + productId,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    // If the product is deleted successfully, reload the data with the updated list of products
                    if (result == true) {
                        loadData();
                    }
                    else {
                        if (result == "Product not found") {
                            alert("Product not found");
                        } else {
                            alert("Product not deleted");
                        }
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

            // Close the delete confirmation modal
            $('#deleteModal').modal('hide');
        });
    });

    /// <summary>
    /// Load data from the database
    /// </summary>
    /// <returns>The list of products</returns>
    function loadData() {
        $.ajax({
            url: "/Product/GetProducts",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //This will clear the tbody before appending the data
                let html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    //html += '<td class="text-center align-middle">' + item.ProductID + '</td>';
                    html += '<td class="text-center align-middle" title="' + item.Name + '">' + truncateText(item.Name, 20) + '</td>';
                    html += '<td class="text-center align-middle" title="' + item.Description + '">' + truncateText(item.Description, 50) + '</td>';
                    html += '<td class="text-center align-middle">' + item.Price.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) + '</td>';
                    html += '<td class="text-center align-middle">' + item.Quantity + '</td>';
                    html += '<td class="text-center align-middle">' + item.Category + '</td>';
                    html += '<td class="text-center align-middle">' + item.Supplier + '</td>';
                    html += '<td class="text-center align-middle"><button class="btn btn-primary" onclick="return getProductByID(' + item.ProductID + ')">Edit</button></td>';
                    html += '<td class="text-center align-middle"><button class="btn btn-secondary" onclick="openDeleteModal(' + item.ProductID + ')">Delete</button></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                if(errormessage.responseText == "Not Found") {
                    alert("No products found");
                } else {
                    alert(errormessage.responseText);
                }
            }
        });
    }

    ///<summary>
    ///Open the delete confirmation modal
    ///</summary>
    ///<param name="productId">The ID of the product to delete</param>
    function openDeleteModal(productId) {
        // Store the product ID in a data attribute of the confirm button
        $('#btnConfirmDelete').data('productId', productId);
        //Showing basic product details in the modal
        $.ajax({
            url: "/Product/GetProductByID/" + productId,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#deleteModal').find('.modal-body').text('Are you sure you want to delete the product "' + result.Name + '"?');
            },
            error: function (errormessage) {
                if(errormessage.responseText == "Not Found") {
                    alert("Product not found");
                } else {
                    alert(errormessage.responseText);
                }
            }
        });

        // Open the delete confirmation modal
        $('#deleteModal').modal('show');
    }

    /// <summary>
    /// Add a new product to the database
    /// </summary>
    /// <returns>True if the product is added successfully, false otherwise</returns>
    /// <remarks>Validation using jQuery</remarks>
    function addProduct() {
        //Validation using jQuery
        let isValid = validateProduct();

        if (!isValid) {
            return false;
        }
        //End of validation

        // Create a product object
        let productObj = {
            ProductID: $('#product-id').val(),
            Name: $('#name').val(),
            Description: $('#description').val(),
            Price: $('#price').val(),
            Quantity: $('#quantity').val(),
            Category: $('#category').val(),
            Supplier: $('#supplier').val()
        };

        //Add the product to the database
        $.ajax({
            url: "/Product/AddProduct",
            data: JSON.stringify(productObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                // If the product is added successfully, reload the data
                console.log(result);
                if (result == true) {
                    loadData();
                    $('#myModal').modal('hide');
                    $('.modal-backdrop').remove();
                }
                else {
                    if(result == "Product already exists") {
                        $('#errorMessage').text('Product already exists');
                    } else {
                        alert('Product not added');
                    }
                }
            },
            error: function (errormessage) {
                if(errormessage.responseText == "Not Found") {
                    alert("Product not found");
                } else {
                    alert(errormessage.responseText);
                }
            }
        });
    }

    /// <summary>
    /// Get a product by its ID
    /// </summary>
    /// <param name="productId">The ID of the product to get</param>
    /// <returns>The product details</returns>
    function getProductByID(productId) {

        clearSpans();
        // Ajax call to get the product by its ID
        $.ajax({
            url: "/Product/GetProductByID/" + productId,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                // Fill the form with the product details
                $('#product-id').val(result.ProductID);
                $('#name').val(result.Name);
                $('#description').val(result.Description);
                $('#price').val(result.Price);
                $('#quantity').val(result.Quantity);
                $('#category').val(result.Category);
                $('#supplier').val(result.Supplier);
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                if(errormessage.responseText == "Not Found") {
                    alert("Product not found");
                } else {
                    if(errormessage.responseText == "Product not found") {
                        alert("Product not found");
                    } else {
                        alert(errormessage.responseText);
                    }
                }
            }
        });
        return false;
    }

    /// <summary>
    /// Update a product in the database
    /// </summary>
    /// <returns>True if the product is updated successfully, false otherwise</returns>
    /// <remarks>Validation using jQuery</remarks>
    function updateProduct() {
        //Validation using jQuery
        let isValid = validateProduct();

        if (!isValid) {
            return false;
        }
        //End of validation

        // Create a product object
        let productObj = {
            ProductID: $('#product-id').val(),
            Name: $('#name').val(),
            Description: $('#description').val(),
            Price: $('#price').val(),
            Quantity: $('#quantity').val(),
            Category: $('#category').val(),
            Supplier: $('#supplier').val()
        };

        //Update the product in the database
        $.ajax({
            url: "/Product/UpdateProduct",
            data: JSON.stringify(productObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                // If the product is updated successfully, reload the data
                console.log(result);
                if (result == true) {
                    loadData();
                    $('#myModal').modal('hide');
                    $('.modal-backdrop').remove();
                }
                else {
                    alert('Product not updated');
                }
            },
            error: function (errormessage) {
                if (errormessage.responseText == "Not Found") {
                    alert("Product not found");
                } else {
                    alert(errormessage.responseText);
                }
            }
        });
    }

    /// <summary>
    /// Delete a product from the database
    /// </summary>
    /// <param name="productId">The ID of the product to delete</param>
    /// <returns>True if the product is deleted successfully, false otherwise</returns>
    function Delete(productId) {
        $('#btnConfirmDelete').data('productId', productId);

        $('#deleteModal').modal('show');
    }

    $('#btnConfirmDelete').click(function () {
        let productId = $(this).data('productId');

        $.ajax({
            url: "/Product/DeleteProduct/" + productId,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                if (result == true) {
                    loadData();
                }
                else {
                    if (result == "Product not found") {
                        alert("Product not found");
                    } else {
                        alert("Product not deleted");
                    }
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

        $('#deleteModal').modal('hide');
    });

    /// <summary>
    /// Clear the textboxes
    /// </summary>
    /// <returns>Clear the textboxes values</returns>
    function clearTextBox() {
        $('#product-id').val("");
        $('#name').val("");
        $('#description').val("");
        $('#price').val("");
        $('#quantity').val("");
        $('#category').val("");
        $('#supplier').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#errorMessage').text('');
    }

    ///<summary>
    ///Clear the error messages
    ///</summary>
    ///<returns>Clear the error messages text</returns>
    function clearSpans() {
        $('#errorMessageName').text('');
        $('#errorMessageDescription').text('');
        $('#errorMessagePrice').text('');
        $('#errorMessageQuantity').text('');
        $('#errorMessageCategory').text('');
        $('#errorMessageSupplier').text('');
    }

    // Function to truncate text if it exceeds a certain number of characters
    function truncateText(text, maxLength) {
        if (text.length > maxLength) {
            return text.substring(0, maxLength) + '...';
        }
        return text;
    }

    ///<summary>
    ///Validate the field and display specific error message
    ///</summary>
    ///<param name="field">The field to validate</param>
    ///<param name="errorMessageElement">The error message element</param>
    ///<param name="validationFunction">The validation function</param>
    ///<param name="errorMessage">The error message</param>
    ///<returns>True if the field is valid, false otherwise</returns>
    function validateField(field, errorMessageElement, validationFunction, errorMessage) {
        let value = $(field).val().trim();
        if (!validationFunction(value)) {
            $(errorMessageElement).text(errorMessage);
            return false;
        } else {
            $(errorMessageElement).text('');
            return true;
        }
    }


    ///<summary>
    ///Validate the product form
    ///</summary>
    ///<returns>True if the product form is valid, false otherwise</returns>
    function validateProduct() {
        //product name validation
        let isValidName = validateField('#name', '#errorMessageName', value => value.trim() != "", 'Name is required');
        isValidName = isValidName && validateField('#name', '#errorMessageName', value => !/[~`!#$%\^&*+=\[\]\\';,/{}|\\":<>\?]/g.test(value), 'Name cannot contain special characters');
        isValidName = isValidName && validateField('#name', '#errorMessageName', value => value.length <= 50, 'Name must be less than 50 characters');

        //product description validation
        let isValidDescription = validateField('#description', '#errorMessageDescription', value => value.trim() != "", 'Description is required');
        isValidDescription = isValidDescription && validateField('#description', "#errorMessageDescription", value => value.length <= 100, "Description must be less than 100 characters");

        //product price validation
        let isValidPrice = validateField('#price', '#errorMessagePrice', value => value.trim() != "", 'Price is required');
        isValidPrice = isValidPrice && validateField('#price', '#errorMessagePrice', value => !isNaN(value) && value > 0, 'Price must be a positive number');

        //product quantity validation
        let isValidQuantity = validateField('#quantity', '#errorMessageQuantity', value => value.trim() != "", 'Quantity is required');
        isValidQuantity = isValidQuantity && validateField('#quantity', '#errorMessageQuantity', value => Number.isInteger(parseFloat(value)) && value >= 0, 'Quantity must be a non-negative integer');

        //product category validation
        let isValidCategory = validateField('#category', '#errorMessageCategory', value => value != "", 'Category is required');
        isValidCategory = isValidCategory && validateField('#category', '#errorMessageCategory', value => value.length <= 50, 'Category must be less than 50 characters');

        //product supplier validation
        let isValidSupplier = validateField('#supplier', '#errorMessageSupplier', value => value.trim() != "", 'Supplier is required');
        isValidSupplier = isValidSupplier && validateField('#supplier', '#errorMessageSupplier', value => isNaN(value), 'Supplier must be a string');
        isValidSupplier = isValidSupplier && validateField('#supplier', '#errorMessageSupplier', value => value.length <= 50, 'Supplier must be less than 50 characters');

        // Combine all validation results
        let isValid = isValidName && isValidDescription && isValidPrice && isValidQuantity && isValidCategory && isValidSupplier;

        return isValid;
    }



    //Categories dropdown list
    $(document).ready(function () {
        let categories = [
            "",
            "Smartphones",
            "Laptops",
            "Desktops",
            "Tablets",
            "Smart Watches",
            "Cameras",
            "Printers",
            "Monitors",
            "Keyboards",
            "Mice",
            "Headphones",
            "Speakers",
            "Microphones",
            "Webcams",
            "Game Consoles",
            "Graphic Cards",
            "Processors",
            "Motherboards",
            "RAM",
            "Hard Drives"
        ];
        let select = $('#category');
        for (let i = 0; i < categories.length; i++) {
            let option = $('<option/>', {
                value: categories[i],
                text: categories[i]
            });
            select.append(option);
        }
    });


</script>

<div class="container py-5">
    <h2 class="mb-4">Product Management</h2>

    <p class="lead">This page allows you to manage the products in the database. You can add, edit, and delete products.</p>

    <p class="lead">Read the instructions below by clicking the "Instructions" button to learn how to use this page.</p>

    

    <div class="d-flex justify-content-md-start">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">Add New Product</button>
    </div>
</div>

<center>
    <h2>Product List</h2>
</center>
<!-- Table-->
    <details>
        <summary class="p-2 bg-dark text-white rounded-top ">Instructions</summary>
        <ul class="list-group-item-secondary rounded-bottom ">  
            <li class="p-2">
            Create a new product by clicking the "Add New Product" button. 
            A form will appear in a modal where you can enter the product details. 
            Click "Save" to add the product to the database.
            </li>
            <li class="p-2">
            To edit a product, click the "Edit" button next to the product you want to modify. 
            The same form will appear in a modal with the existing product details. 
            Modify the details as needed and click "Save" to update the product in the database.
            </li>
            <li class="p-2">
            To delete a product, click the "Delete" button next to the product you want to remove. 
            A confirmation dialog will appear. 
            Click "Confirm" to permanently delete the product from the database.
            </li>
        </ul>
    </details>
    <table class="table table-striped table-hover table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <!--
                <th class="text-center align-middle">Product ID</th>
                -->
                <th class="text-center align-middle">Name</th>
                <th class="text-center align-middle">Description</th>
                <th class="text-center align-middle">Price</th>
                <th class="text-center align-middle">Quantity</th>
                <th class="text-center align-middle">Category</th>
                <th class="text-center align-middle">Supplier</th>
                <th class="text-center align-middle">Edit</th>
                <th class="text-center align-middle">Delete</th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

    <!-- Dynamic Add/Edit Product Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <h4 class="modal-title" id="myModalLabel">Product Form</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="product-id" />
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" id="name" class="form-control" />
                                    <span id="errorMessageName" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="description" class="form-control" />
                                    <span id="errorMessageDescription" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <input type="number" id="price" class="form-control" />
                                    <span id="errorMessagePrice" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Quantity</label>
                                    <input type="number" id="quantity" class="form-control" />
                                    <span id="errorMessageQuantity" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select id="category" class="form-control"></select>
                                    <span id="errorMessageCategory" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Supplier</label>
                                    <input type="text" id="supplier" class="form-control" />
                                    <span id="errorMessageSupplier" style="color:red;"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="addProduct()">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" onclick="updateProduct()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <h4 class="modal-title" id="deleteModalLabel">Confirm Deletion</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">Delete</button>
                    @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>*@
                </div>
            </div>
        </div>
    </div>